.navigation{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right: 40px;
}
#bt{
    padding: 9px;
    color: rgb(2, 2, 31);
    font-weight: bold;
    margin-right: 40px;
    outline: 0;
    border: none;
    background-color: orange;
    color: rgb(3, 48, 66);
}
html{
    background-color: rgb(2, 2, 43);
}
.three{
    color: white;
    font-size: 24px;
    font-family: sans-serif;
}
#four{
    padding: 9px;
}
.b1, .b2, .b3{
    margin: 20px;
    padding: 9px;
    color: white;
    border-radius: 8px;
}
.b1{
    background-color: orange;
}
.b2{
    background-color: orangered;
}
.b3{
    background-color: rgb(5, 5, 92);
}
